/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --bg-color: #ffffff;
  --accent-color: #000000;
  --button-color-reversed: #ffffff;
  --heart-contour-color: #000000;
  --heart-filing-color: #ff0000;

  --gradient-line-color: #d3d3d3;
  --gradient-start-color: #e7e7e7;
  --gradient-end-color: #1a1a1a;
  --gradient-offset: 0.01%;
  --main-font-weight: 400;
  --card-title-font-weight: 700;
}

:root.theme-dark {
  --bg-color: #000000;
  --accent-color: #00cc14;
  --button-color-reversed: #00cc14;
  --heart-contour-color: #00cc14;
  --heart-filing-color: #ff0000;

  --gradient-line-color: #000000;
  --gradient-start-color: #007f0c;
  --gradient-end-color: #004306;
  --gradient-offset: 0%;
  --main-font-weight: 465;
  --card-title-font-weight: 785;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000000;
    --accent-color: #00cc14;
    --button-color-reversed: #00cc14;
    --heart-contour-color: #00cc14;
    --heart-filing-color: #ff0000;

    --gradient-line-color: #000000;
    --gradient-start-color: #007f0c;
    --gradient-end-color: #004306;
    --gradient-offset: 0%;
  }
}
